@import "../../assets/styles/_mixins.scss";

.modal {
    @include flex(row, center, center);
    @include transition(all .4s);
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(77, 77, 77, .7);
    z-index: 2;

    >div {
        background-color: #d8d8d8;
        padding: 2px;
        min-width: 400px;

        .modal-title {
            @include flex(row, center, space-between);
            background-color: var(--color-secondary);
            color: var(--color-primary);
            padding: 5px 10px;

            svg {
                width: 15px;
            }
        }

        .modal-content {
            @include flex(column, center);
            padding: 30px;

            >div:first-of-type {
                @include flex(column, center);

                span {
                    &:first-of-type {
                        color: #6e6d6d;
                    }

                    &+span {
                        text-transform: uppercase;
                        font-weight: 700;
                        margin-top: 10px;
                    }
                }
            }

            .actions {
                margin-top: 20px;

                button {
                    @include button();

                    &+button {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}