:root {
  --color-primary: #fff;
  --color-primary-light: #f7f7f7;
  --color-primary-dark: #4f4f4f;
  --color-secondary: #000;
  --color-secondary-dark: #c1c0c0;
  --color-secondary-light: #b7b7b7;
  --color-third: #e1e1e1;
  --color-third-light: #ececec;
  --color-success: #155724;
  --color-success-light: #c3e6cb;
  --color-success-dark: #d4edda;
  --color-error: #721c24;
  --color-error-light: #f8d7da;
  --color-error-dark: #f5c6cb;
  --color-error-darker: #ff0000
}